<div class="container mt-3">
  <h1>Please enter User ID:</h1>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Please enter User ID" [(ngModel)]="userDetail" name="userDetail">
    <div class="input-group-prepend">
      <button class="btn btn-outline-info" type="button" (click)="getUserDetail(userDetail)">Get detail</button>  
    </div>
  </div>
</div>
<!-- <app-table [data]="showUserdata" [header]="headers"></app-table> -->
<table class="table table-hover">
    <tbody>
		<td> {{ showUserdata.id }}</td>
		<td *ngIf="showUserdata.name"> {{ showUserdata.name }} / {{ showUserdata.username }}</td>
		<td *ngIf="showUserdata.email"> {{ showUserdata.email }}</td>
		<td *ngIf="showUserdata.phone"> {{ showUserdata.phone }}</td>
		<td *ngIf="showUserdata.title"> {{ showUserdata.title }}</td>
		<td *ngIf="showUserdata.body"> {{ showUserdata.body }}</td>
	</tbody>
</table>