<div class="container" style="margin-top: 70px;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name/Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of profileData">
        <td> {{ data.id }}</td>
        <td> {{ data.name }} / {{ data.username }}</td>
        <td> {{ data.email }}</td>
        <td> {{ data.phone }}</td>
        <td>Show details</td>
      </tr>
    </tbody>
  </table>
</div>