<div class="container" style="margin-top: 70px;">
  <app-table [data]="commentData" [header]="headers" [pageHeader]="pageheading"></app-table>
 <!--  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Content</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of commentData">
        <td> {{ data.id }}</td>
        <td> {{ data.name }}</td>
        <td> {{ data.email }}</td>
        <td> {{ data.body }}</td>
        <td>Show details</td>
      </tr>
    </tbody>
  </table> -->
</div>